body {
    background-image: url(https://media.istockphoto.com/id/1416603097/es/foto/fuego-naranja-denso-sobre-blanco.jpg?s=612x612&w=0&k=20&c=WbGEIj2G1YPmZ1rQ46tgCIdBdGXDLoNGTh-ejYGdgx8=) ;
    background-size: 100%;
    
}
img {
    border: 10px solid black;
    align-content: center;
    width: 500px;
}